@charset "UTF-8";
body {
  background-color: black;
}

header {
  width: 100%;
}

header .menu {
  background: black;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0px 1px 30px #fff;
          box-shadow: 0px 1px 30px #fff;
}

header .menu ul {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header .menu ul a svg {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

header .menu ul a svg:hover {
  fill: #930202;
}

header .menu ul .right-side {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 22px;
}

header .menu ul .right-side a li {
  font-family: 'RadianceBold', sans-serif;
}

.hamburger-menu {
  display: none;
  width: 70%;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* используем flex для центрирования содержимого */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* центрируем содержимое кнопки */
  position: absolute;
  top: 38px;
  right: 56px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 12;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
header .menu .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #121212;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-size: 20px;
  font-family: "Reaver";
  text-decoration: none;
}

.menu__item:hover {
  background-color: #cfd8dc;
  color: black;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  left: auto;
  z-index: 1;
}

.abbadon {
  border-left: 3px solid white;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.abbadon .abbadon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abbadon .abbadon-container .left-side .attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abbadon .abbadon-container .left-side .attribute .abb1 {
  color: white;
  font-size: 70px;
}

.abbadon .abbadon-container .left-side .attribute img {
  width: 30px;
  height: 30px;
}

.abbadon .abbadon-container .left-side .attribute p {
  color: white;
  font-size: 30px;
  margin-left: 10px;
}

.abbadon .abbadon-container .left-side .def {
  color: MediumTurquoise;
  font-size: 20px;
}

.abbadon .abbadon-container .left-side .char {
  color: white;
  font-size: 28px;
}

.abbadon .abbadon-container .left-side .type {
  margin-top: 10px;
  color: gray;
  font-size: 20px;
}

.abbadon .abbadon-container .left-side .hard {
  margin-top: 10px;
  color: gray;
  font-size: 20px;
}

.abbadon .abbadon-container .left-side .attack-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abbadon .abbadon-container .left-side .attack-style .att {
  width: 25px;
  height: 25px;
}

.abbadon .abbadon-container .left-side .attack-style .melee {
  color: white;
  font-size: 20px;
}

.abbadon .abbadon-container .left-side .attack-style p {
  margin-left: 10px;
}

.abbadon .abbadon-container .left-side .slozhnost {
  margin-top: 10px;
  margin-left: 3px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.abbadon .abbadon-container .left-side .slozhnost .diamond {
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #4e4b4b;
}

.abbadon .abbadon-container .left-side .slozhnost .active {
  background-color: #fff;
}

.abbadon .abbadon-container .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abbadon .abbadon-container .right-side video {
  margin-left: 30px;
  width: 450px;
  height: 450px;
}

.cap {
  width: 80%;
  margin: auto;
}

.cap .cap1 {
  color: white;
  font-size: 30px;
  padding: 20px;
}

.cap .cap-item {
  border-left: 3px white solid;
  padding-left: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cap .cap-item .cap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cap .cap-item .cap-img video {
  width: 550px;
  margin-right: 50px;
}

.cap .cap-item .cap-img img {
  width: 450px;
}

.cap .cap-item .prim1 {
  color: gray;
  font-size: 30px;
  margin: 10px 0 10px 20px;
}

.cap .cap-item .spis {
  font-size: 19px;
  color: beige;
  margin-bottom: 15px;
}

.pre-footer {
  width: 100%;
  margin: 50px auto;
  margin-bottom: 0;
  padding-bottom: 50px;
  background: url(../pics/footer_bs.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pre-footer .pre-footer-head {
  margin-left: 10%;
  padding-top: 30px;
}

.pre-footer .pre-footer-head .war {
  font-size: 140px;
  font-family: "Reaver", sans-serif;
  color: #e2dace;
}

.pre-footer .pre-footer-head .join {
  font-size: 70px;
  font-family: "Reaver", sans-serif;
  color: #E2DACE90;
}

.pre-footer .miniLine {
  width: 10%;
  height: 3px;
  background-color: #930202;
  margin-left: 10%;
}

.pre-footer .play {
  margin-left: 10%;
  margin-top: 35px;
  width: 250px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.285);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 70px;
  border-radius: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.pre-footer .play a {
  font-family: 'Radiance', sans-serif;
  text-transform: uppercase;
}

.pre-footer .play:hover {
  border: 2px solid #930202;
}

.pre-footer .play:hover a {
  color: #fff;
}

footer {
  padding-bottom: 50px;
  padding-top: 50px;
  background-color: #000;
}

footer .footer-container {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .logos-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-container .valve_logo,
footer .footer-container .dota_logo {
  margin: 0px 15px 20px 15px;
  max-height: 30px;
}

footer p {
  margin-top: 30px;
  text-align: center;
  color: #777;
}

@media (max-width: 2570px) {
  header .menu ul .right-side a li {
    font-size: 32px;
  }
  footer p {
    font-size: 30px;
  }
}

@media (max-width: 1460px) {
  header .menu ul .right-side a li {
    font-size: 26px;
  }
  .abbadon .abbadon-container .right-side video {
    width: 300px;
    height: 300px;
  }
  .cap .cap-item .cap-img video {
    width: 310px;
  }
  .cap .cap-item .cap-img img {
    width: 262px;
  }
  footer p {
    font-size: 22px;
  }
}

@media (max-width: 780px) {
  header .menu ul .right-side a {
    display: none;
  }
  nav .nav-section .nav-item p {
    font-size: 20px;
  }
  header .menu ul .right-side .hamburger-menu a {
    display: block;
  }
  .hamburger-menu {
    display: block;
  }
  .abbadon .abbadon-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .abbadon .abbadon-container .left-side .attribute p {
    font-size: 24px;
  }
  .abbadon .abbadon-container .left-side .def {
    font-size: 18px;
  }
  .abbadon .abbadon-container .left-side .char {
    font-size: 16px;
  }
  .cap .cap-item .cap-img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cap .cap-item .cap-img img {
    margin-top: 20px;
  }
  .pre-footer .pre-footer-head .join {
    font-size: 34px;
  }
  .pre-footer .pre-footer-head .war {
    font-size: 70px;
  }
  footer p {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  footer .footer-container {
    width: 70%;
  }
  footer .footer-container .valve_logo, footer .footer-container .dota_logo {
    margin: 0;
    max-height: 20px;
  }
  .abbadon .abbadon-container .right-side video {
    width: 200px;
    height: 200px;
  }
  .cap .cap-item .cap-img video {
    width: 200px;
  }
  .cap .cap-item .cap-img img {
    width: 200px;
  }
  .cap .cap-item .spis {
    font-size: 13px;
  }
  .pre-footer .pre-footer-head .war {
    font-size: 46px;
  }
  .pre-footer .play {
    width: 190px;
    font-size: 16px;
  }
  nav .nav-section .nav-item p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=abbadon.css.map */