body {
    background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header {
    width: 100%;

    .menu {
        background: black;
        width: 100%;
        height: 100px;

        ul {
            width: 80%;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            a {
                svg {
                    transition: fill .3s;
                }

                svg:hover {
                    fill: rgb(147, 2, 2);
                }
            }

            .right-side {
                width: 60%;
                display: flex;
                justify-content: space-around;
                font-size: 22px;

                a {
                    li {
                        font-family: 'RadianceBold', sans-serif;
                    }
                }
            }
        }
    }
}

//
.hamburger-menu {
    display: none;
    width: 70%;
}

#menu__toggle {
    display: none;
}

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 38px;
    right: 56px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 12;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: "";
    top: -8px;
}

.menu__btn>span::after {
    content: "";
    top: 8px;
}

/* контейнер меню */
header .menu .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #121212;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-family: "Reaver";
    text-decoration: none;
}

.menu__item:hover {
    background-color: #cfd8dc;
    color: black;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
    left: auto;
    z-index: 1;
}

//
nav {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* Равномерно распределяет все элементы по ширине flex-блока.
    Все элементы имеют равное пространство вокруг */
    align-items: center;

    h {
        font-family: "Reaver", sans-serif;
        font-size: 50px;
        color: azure;
    }

    p {
        color: azure;
        font-size: 32px;
        text-align: center;
    }

    .panel {
        width: 72%;
        background-color: rgba(0, 0, 0, 0.337);
        border: black 2px solid;
        border-radius: 0.5vw;
        padding: 30px 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .panel-section {
            width: 33%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .attributes {
            display: flex;

            .att {
                margin-right: 10px;
            }

            p {
                color: darkgray;
                font-size: 26px;
                margin-top: -5px;
            }

            img {
                width: 43px;
                height: 35px;
                filter: brightness(0.5) saturate(0);
            }
        }

        .hard {
            display: flex;

            .hard-text {
                margin-right: 10px;
            }

            p {
                color: darkgray;
                font-size: 26px;
                margin-top: -5px;
            }

            img {
                width: 43px;
                height: 35px;
                filter: brightness(0.5) saturate(0);
            }
        }

        .search {
            background-color: #25282a;
            width: 250px;
            height: 50px;
            padding-right: 5px;

            .search-ico {
                min-width: 26px;
                min-height: 26px;
                margin-right: 10px;
                margin-left: 10px;
                fill: #505050;
                transition: fill .3s;
            }

            .search-ico:hover {
                fill: #fff;
            }

            input {
                border: 0px solid transparent;
                outline: none;
                height: 36px;
                color: darkgray;
                font-size: 16px;
                padding-left: 3px;
            }

            input:focus {
                background-color: #505050;
            }
        }
    }
}


.heroes {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        width: 256px;
        height: 144px;
        margin: 5px;

        .hero {
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }

        .hero:hover {
            transform: scale(1.1);
        }
    }
}

.pre-footer {
    width: 100%;
    margin: 50px auto;
    margin-bottom: 0;
    padding-bottom: 50px;
    background: url(../pics/footer_bs.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    .pre-footer-head {
        margin-left: 10%;
        padding-top: 30px;

        .war {
            font-size: 140px;
            font-family: "Reaver", sans-serif;
            color: #e2dace;
        }

        .join {
            font-size: 70px;
            font-family: "Reaver", sans-serif;
            color: #E2DACE90;
        }
    }

    .miniLine {
        width: 10%;
        height: 3px;
        background-color: rgb(147, 2, 2);
        margin-left: 10%;
    }

    .play {
        margin-left: 10%;
        margin-top: 35px;
        width: 250px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.285);
        backdrop-filter: blur(10px);
        height: 70px;
        border-radius: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        transition: border 0.3s;

        a {
            font-family: 'Radiance', sans-serif;
            text-transform: uppercase;
        }
    }

    .play:hover {
        border: 2px solid rgb(147, 2, 2);
    }

    .play:hover a {
        color: #fff;
    }
}

footer {
    padding-bottom: 50px;
    margin-top: 30px;
    .footer-container {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .logos-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .valve_logo,
        .dota_logo {
            margin: 0px 15px 20px 15px;
            max-height: 30px;
        }
    }

    p {
        margin-top: 30px;
        text-align: center;
        color: #777;
    }
}
@media(max-width: 2570px){
    header .menu ul .right-side a li {
        font-size: 32px;
    }
}
@media(max-width: 1460px) {
    nav p {
        font-size: 26px;
    }
}
@media(max-width: 1100px) {
    header .menu ul .right-side a li {
        font-size: 26px;
    }
    nav .panel{
        flex-wrap: wrap;
    }
    nav .panel .panel-section{
        margin-top: 20px;
    }
    nav .panel .search{
        width: 60%;
    }
    nav p{
        font-size: 22px;
    }
    .heroes a{
        width: 152px;
        height: 84px;
    }
}
@media(max-width: 780px) {
    nav .panel .panel-section{
        width: 71%;
    }
    nav h{
        font-size: 40px;
    }
    nav p{
        font-size: 20px;
    }
    .pre-footer .pre-footer-head .join {
        font-size: 34px;
    }

    .pre-footer .pre-footer-head .war {
        font-size: 70px;
    }

    header .menu ul .right-side a {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    header .menu ul .right-side .hamburger-menu ul li a {
        display: block;
    }
}
@media(max-width: 430px) {
    nav h{
        font-size: 28px;
    }
    .heroes a{
        width: 104px;
        height: 66px;
    }
    nav p{
        font-size: 14px;
    }
    footer .footer-container{
        width: 70%;
    }
    footer .footer-container .valve_logo, footer .footer-container .dota_logo{
        margin: 0;
        max-height: 20px;
    }
    .pre-footer .pre-footer-head .war{
        font-size: 46px;
    }
    .pre-footer .play{
        width: 190px;
        font-size: 16px;
    }
}