body {
    background-color: black;
}
header {
    width: 100%;
    height: 800px;
    background-image: url(../pics/header-img.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: 100%;

    .menu {
        background: #000;
        width: 100%;
        height: 100px;

        ul {
            width: 80%;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            a {
                svg {
                    transition: fill .3s;
                }

                svg:hover {
                    fill: rgb(147, 2, 2);
                }
            }

            .right-side {
                width: 60%;
                display: flex;
                justify-content: space-around;
                font-size: 22px;

                a {
                    li {
                        font-family: 'RadianceBold', sans-serif;
                    }
                }
            }
        }
    }
}

//
.hamburger-menu {
    display: none;
    width: 70%;
}

#menu__toggle {
    display: none;
}

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: absolute;
    top: 38px;
    right: 56px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 12;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__btn>span::before {
    content: "";
    top: -8px;
}

.menu__btn>span::after {
    content: "";
    top: 8px;
}

/* контейнер меню */
header .menu .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #121212;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-family: "Reaver";
    text-decoration: none;
}

.menu__item:hover {
    background-color: #cfd8dc;
    color: black;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    right: 0;
    left: auto;
    z-index: 1;
}

//
nav {
    width: 90%;
    display: flex;
    margin: auto;
    height: 600px;
    .nav-section {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        align-items: flex-end;
        .nav-item {
            width: 50%;
            height: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .img-container {
                width: 90%;
                .obnov {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                padding: 4px 0;
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 26px;
                border-radius: .4vw;
                margin-top: 15px;
                background-color: rgba(0, 0, 0, 0.476);
            }
        }
    }
}




.info {
    background-image: url(../pics/info-img.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .text {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 400px;

        .choice {
            font-family: "Reaver", sans-serif;
            text-align: center;
            width: 70%;
            font-size: 40px;
            font-weight: 800;
            text-shadow: 5px 5px rgba(0, 0, 0, 0.447);
        }

        .spisok {
            padding: 25px;
            border-radius: 2vw;
            color: #fff;
            text-align: center;
            width: 60%;
            font-size: 25px;
            background-color: rgba(0, 0, 0, 0.837);
            backdrop-filter: blur(10px);
        }
    }

    .button {
        margin: auto;
        width: 250px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.285);
        backdrop-filter: blur(10px);
        height: 70px;
        border-radius: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        transition: border 0.3s;

        a {
            font-family: 'RadianceBold', sans-serif;
            text-transform: uppercase;
        }
    }

    .button:hover {
        border: 2px solid rgb(147, 2, 2);
    }

    .button:hover a {
        color: #fff;
    }

}

.dpc {
    .international {
        object-fit: cover;
        width: 100%;
        height: 750px;
    }

    .tournament {
        font-family: "Reaver", sans-serif;
        font-size: 45px;
        color: bisque;
        text-align: center;
    }

    .dpc-rest {
        text-indent: 70px;
        width: 90%;
        font-size: 20px;
        color: white;
        margin: auto;
        margin-top: 30px;
        text-align: justify;
    }

    .dpc-description {
        margin-top: -260px;
    }

    .line {
        margin-top: 100px;
        border-top: 2px solid #D2691E;

    }

    .whatIs {
        font-size: 60px;
        color: bisque;
        text-align: center;
        margin: 50px 0;
        font-family: "Reaver", sans-serif;
    }
}

.pre-footer {
    width: 100%;
    margin: 50px auto;
    padding-bottom: 50px;
    background: url(../pics/footer_bs.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

    .pre-footer-head {
        margin-left: 10%;
        padding-top: 30px;

        .war {
            font-size: 140px;
            font-family: "Reaver", sans-serif;
            color: #e2dace;
        }

        .join {
            font-size: 70px;
            font-family: "Reaver", sans-serif;
            color: #E2DACE90;
        }
    }

    .miniLine {
        width: 10%;
        height: 3px;
        background-color: rgb(147, 2, 2);
        margin-left: 10%;
    }

    .play {
        margin-left: 10%;
        margin-top: 35px;
        width: 250px;
        border: 2px solid white;
        background-color: rgba(0, 0, 0, 0.285);
        backdrop-filter: blur(10px);
        height: 70px;
        border-radius: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        transition: border 0.3s;

        a {
            font-family: 'Radiance', sans-serif;
            text-transform: uppercase;
        }
    }

    .play:hover {
        border: 2px solid rgb(147, 2, 2);
    }

    .play:hover a {
        color: #fff;
    }
}

footer {
    padding-bottom: 50px;

    .footer-container {
        width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .logos-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .valve_logo,
        .dota_logo {
            margin: 0px 15px 20px 15px;
            max-height: 30px;
        }
    }

    p {
        margin-top: 30px;
        text-align: center;
        color: #777;
    }
}

@media(max-width: 2570px) {
    header .menu ul .right-side a li {
        font-size: 32px;
    }

    .info .text .choice {
        font-size: 66px;
    }

    .info .text .spisok {
        font-size: 30px;
    }

    .dpc .tournament {
        font-size: 60px;
    }

    .dpc .dpc-rest {
        font-size: 30px;
    }

    footer p {
        font-size: 30px;
    }
}
@media(max-width: 1950px){

}
@media(max-width: 1460px) {
    header .menu ul .right-side a li {
        font-size: 26px;
    }

    .info .text .choice {
        font-size: 46px;
    }

    .info .text .spisok {
        font-size: 24px;
    }

    .dpc .tournament {
        font-size: 46px;
    }

    .dpc .dpc-rest {
        font-size: 24px;
    }

    footer p {
        font-size: 22px;
    }
}

@media(max-width: 780px) {
    nav{
        height: 400px;
    }
    header .menu ul .right-side a {
        display: none;
    }
    nav .nav-section .nav-item p{
        font-size: 20px;
    }
    header{
        height: 600px;
    }
    .hamburger-menu {
        display: block;
    }
    .info .text .choice{
        font-size: 36px;
        color: wheat;

    }
    .info .text .spisok{
        width: 100%;
        font-size: 22px;
    }
    .info .button{
        margin-top: -50px;
    }
    .dpc .international{
        height: 510px;
    }
    .dpc .tournament{
        font-size: 28px;
    }
    .dpc .dpc-rest{
        font-size: 20px;
    }
    .dpc .whatIs{
        font-size: 40px;
    }
    .pre-footer .pre-footer-head .join{
        font-size: 34px;
    }
    .pre-footer .pre-footer-head .war{
        font-size: 70px;
    }
    footer p{
        font-size: 14px;
    }
}
@media(max-width: 430px){
    nav{
        margin-top: 5px;
        flex-wrap: wrap;
    }
    nav .nav-section{
        width: 100%;
        margin-top: 5px;
    }
    .info .text .choice{
        font-size: 26px;
    }
    .info .text .spisok{
        font-size: 16px;
    }
    .info .button{
        width: 200px;
        height: 56px;
        font-size: 18px;
    }
    .dpc .international{
        height: 240px;
    }
    .dpc .tournament{
        font-size: 18px;
    }
    footer .footer-container{
        width: 70%;
    }
    footer .footer-container .valve_logo, footer .footer-container .dota_logo{
        margin: 0;
        max-height: 20px;
    }
    .dpc .dpc-description{
        margin-top: -80px;
    }
    .dpc .dpc-rest{
        text-indent: 0;
        font-size: 14px;
        text-align: center;
    }
    .pre-footer .pre-footer-head .war{
        font-size: 46px;
    }
    .pre-footer .play{
        width: 190px;
        font-size: 16px;
    }
    nav .nav-section .nav-item p{
        font-size: 14px;
    }
}